div {
    display: block;
       }
       
   
   h1 {
           font-family: baskerville;
              line-height: 1;
              color: white;
   }
   
   .grid-container-one {
       display: grid;
       grid-template-columns: 100%;
   }