div {
    display: block;
       }
       
   
   h1 {
           font-family: baskerville;
              line-height: 1;
              color: rgb(0, 0, 0);
   }
   
   .grid-container-one {
       display: grid;
       grid-template-columns: 100%;
   }


   .grid-container-two {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px;
}
.jaeimage {

    text-align: center;
    padding: 35px;
}
.welcomebox {

    text-align: center;
    padding: 35px;
}