div {
    display: block;
       }
       

       /* Add a black background color to the top navigation */
.topnav {
    background-color: #393C5C;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #2B2D43;
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #8C94E1;
    color: white;
  }
   
   h1 {
           font-family: baskerville;
              line-height: 1;
              color: rgb(0, 0, 0);
   }
   
   .grid-container-one {
       display: grid;
       grid-template-columns: 100%;
   }


   .grid-container-two {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px;
}
.jaeimage {
    margin-top: 8px;
    vertical-align: middle;
    
  
}
.welcomebox {
    text-align: center;
    padding: 5px;
}





